 .posts {
    display: block;
    
  }
  
.post {
    width: 100%;
    padding: 1.5em;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    font-size: 1.2em;
}
  
  
article {
    padding: 20px 20px 20px 20px;
}
  
  
/* article p {
    font-size: 1.2em;    
  
} */
  